body * {
    /*border: 1px solid;*/
}
#logo {
	width: 200px;
	float: left;
}

header h1 {
	position: relative;
}

#avatar_img {
    margin-top:20px;
    height: 60px;
}
#back_button {
    margin-top:30px;
    height: 50px;
}
#header{
    background-color: darkblue;
    height: 110px;
}

 /* unvisited link */
#header a:link {
    color: white;
}

/* visited link */
#header a:visited {
    color: white;
}

/* mouse over link */
#header a:hover {
    color: white;
}

/* selected link */
#header a:active {
    color: white;
}

body {
    background-image: url("pictures/blue_background.jpg");
    /*background-size: 100%;*/
    /*background-color: lightblue;*/
}

.white{
    color: white;
}

.shadow {
    -webkit-box-shadow: -2px 11px 5px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 11px 5px -11px rgba(0,0,0,0.75);
    box-shadow: -2px 11px 5px -11px rgba(0,0,0,0.75);
}
