body * {
    /*border: 1px solid;*/
}
#logo {
	width: 200px;
	float: left;
}

header h1 {
	position: relative;
}

#avatar_img {
    margin-top:20px;
    height: 60px;
}
#back_button {
    margin-top:30px;
    height: 50px;
}
#header{
    background-color: rgba(77,141,255,0.4);
    height: 110px;
}

 /* unvisited link */
#header a:link {
    color: white;
}

/* visited link */
#header a:visited {
    color: white;
}

/* mouse over link */
#header a:hover {
    color: white;
}

/* selected link */
#header a:active {
    color: white;
}

/*body {
    display: block;
  position: relative;

}*/

body {
  content: "";
  background: url("../pictures/grey_background.jpg");
  background-size: 100% 100%;
  background-repeat: repeat;
  /*opacity: 0.7;*/
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}


.white{
    color: white;
}

.shadow {
    -webkit-box-shadow: 0px 6px 16px -3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 6px 16px -3px rgba(255,255,255,1);
    box-shadow: 0px 6px 16px -3px rgba(255,255,255,1);

}


#play_button{
    background-color: #EDB516;
    color: white;
}

.margin-top {
    margin-top: 2%;
}

.left_round_side {
    background-color: white;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
}

 /* unvisited link */
#play div:link {
    color: white;
    background-color: #EDB516;
}

/* visited link */
#play div:visited {
    color: white;
    background-color: #EDB516;
}

/* mouse over link */
#play div:hover {
    color:white;
    background-color: #4D97FF;
}

/* selected link */
#play div:active {
    color:white;
    background-color: #4D97FF;
}
#play_line{
    margin-top:35px;
}
#play_line hr {
    border: 4px solid white;

}
#play_button {
    margin-top:  -55px;
    margin-bottom: 20px;
}

.wrapper {
    background-color: white;
    margin-top:2%;
    margin-bottom:2%;
    margin-left:-10px;
    margin-right:-10px;

    
    border-radius: 22px 22px 22px 22px;
    -moz-border-radius: 22px 22px 22px 22px;
    -webkit-border-radius: 22px 22px 22px 22px;
    height: 200px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}
.wrapper h2 {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}

#category_panel {
    border-radius: 0px 0px 22px 22px;
    -moz-border-radius: 0px 0px 22px 22px;
    -webkit-border-radius: 0px 0px 22px 22px;  
}

#category_header {
   
    background-color:#4D97FF;
}


 /* unvisited link */
.wrapper:link {
    color: black;
    background-color: white;
}

/* visited link */
.wrapper:visited {
    color: black;
    background-color: white;
}

/* mouse over link */
.wrapper:hover {
    color:white;
    background-color: #4D97FF;
}

/* selected link */
.wrapper:active {
    color:white;
    background-color: #4D97FF;
}

/*.a_category*/


 /* unvisited link */
.a_category:link {
    color: black;
    text-decoration: none;
}

/* visited link */
.a_category:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
.a_category:hover {
    color: black;
      text-decoration: none;
}

/* selected link */
.a_category:active {
    color: black;
      text-decoration: none;
}

table {
    width: 100%;
    background-color: white;
    opacity: 0.8;
}